#logo-header {
   width: 40px;
   height: auto;
}
header {
   background-color: #fff;
   padding: 5px 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: row;
   position: fixed;
   width: 100%;
   z-index: 1000;
   top: 0;
   left: 0;
}

@media (max-width: 550px) {
   #loginForm {
      width: 72%;
   }
}

.topnav {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   margin-left: 30px;
}
.topnav a {
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   border: solid 1px transparent;
}
.topnav a:hover {
   border: solid 1px;
}
#logo-div {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   vertical-align: middle;
   cursor: pointer;
}
#a-header {
   display: inline-block;
   height: 40px;
}

#right-aligned {
   margin-left: auto;
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   cursor: pointer;
}

#right-aligned h4 {
   margin-bottom: 0px;
}

#a-header h4,
#a-header img {
   display: inline-block;
   vertical-align: middle;
}

#a-header h4 {
   margin-left: 10px;
   margin-bottom: 0px;
}

#userPhoto {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}
