#unseenMessages-container {
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   border-radius: 10px;
   padding: 5px;
   position: absolute;
   right: 20px;
   top: 45px;
   z-index: 1001;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
   gap: 5px;
   max-height: 282px;
   overflow-y: auto;
}

#unseenMessages-container::-webkit-scrollbar {
   width: 8px;
   height: 6px; /* Espessura da barra de rolagem */
}

#unseenMessages-container::-webkit-scrollbar-track {
   background: var(--tertiary-color); /* Cor do trilho da barra de rolagem */
   border-radius: 8px;
}

#unseenMessages-container::-webkit-scrollbar-thumb {
   background: #888; /* Cor da barra de rolagem */
   border-radius: 8px; /*Arredonda os cantos*/
}

#unseenMessages-container::-webkit-scrollbar-thumb:hover {
   background: #555; /* Cor da barra de rolagem ao passar o mouse */
}
