.messagesModal {
   position: fixed;
   z-index: 1500;
   background-color: white;
   top: 5%;
   padding: 30px;
   left: 50%;
   transform: translate(-50%, 0);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#alertMessage {
   position: fixed;
   z-index: 1500;
   top: 2%;
   left: 50%;
   transform: translate(-50%, 0);
}

.messagesModal.error {
   box-shadow: 0 0 8px 1px rgb(199, 0, 0);
}

.messagesModal.noError {
   box-shadow: 0 0 8px 1px rgb(27, 145, 0);
}

#confirmModal {
   display: flex;
   flex-direction: column;
   gap: 18px;
   top: 8%;
   box-shadow: 0 0 8px 1px black;
   top: 50%;
   transform: translate(-50%, -70%);
}

#buttonsConfirm {
   display: flex;
   gap: 10px;
   width: 100%;
}

.confirmButton {
   width: 50%;
}

#button_Ok {
   background-color: white;
}

#button_Ok:hover,
#button_Ok:active {
   background-color: #0d6efd;
}

#btn-cancel-modal {
   background-color: white;
}

#btn-cancel-modal:hover,
#btn-cancel-modal:active {
   background-color: #6c757d;
}

#confirmBackground {
   position: fixed;
   height: 100%;
   width: 100%;
   border-radius: 8px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #1b1b1bae;
   z-index: 98;
}

#confirmModal {
   max-width: 360px;
}
