.register-flex {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.notConfirmed-width {
   width: 600px;
}

@media (max-width: 730px) {
   .notConfirmed-width {
      width: 85%;
   }
   .confirmed-width {
      width: 55%;
   }
}

#repeatPass {
   border: 1px solid #a1a1a1;
}
.banner-accountConfirm {
   display: flex;
   flex-direction: row;
   gap: 30px;
   padding: 15px;
   align-items: center;
   padding: 15px;
   font-weight: bold;
}

#resend-btn {
   background-color: white;
}

#resend-btn:hover {
   background-color: #6c757d;
}

#submit-pass {
   background-color: white;
}

#submit-pass:hover {
   background-color: #6c757d;
}

#submit-pass:active {
   background-color: #6c757d;
}
