#addCategory-id {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
   margin: 0;
}

#addCategory-id input {
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   height: 35px;
   width: 200px;
}

#addCategory-id button {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   font-size: 14px;
   height: 35px;
   width: 133px;
   cursor: pointer;
   background-color: white;
   color: #0d6efd;
   transition: ease-in-out 0.2s;
}

@media (max-width: 900px) {
   #addCategory-id input {
      width: 80%;
   }
   #addCategory-id button {
      width: 20%;
   }
}

#addCategory-id button:hover,
#addCategory-id button:active {
   background-color: #0d6efd;
   color: white;
}
