aside {
   background-color: #f1f1f1;
   white-space: nowrap;
   padding-top: 15px;
   gap: 0px;
   margin-bottom: 0px;
   text-align: start;
   width: 15%;
   display: flex;
   flex-direction: column;
   box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.3);
   min-height: 96vh;
   position: fixed;
   top: 50px;
   height: 100%;
}

aside a {
   height: 25.2px;
   padding: 17px;
   padding-top: 25px;
   padding-bottom: 25px;
}

aside a:hover {
   background-color: #cbcbcb;
}
aside h4 {
   font-size: 20px;
   margin-bottom: 0px;
}
@media (max-width: 1300px) {
   aside h4 {
      font-size: 15px;
   }
}
@media (max-width: 1050px) {
   aside {
      width: 50px;
   }
   .scrum-main {
      margin-left: 50px;
   }
}
a {
   text-decoration: none;
   color: black;
   cursor: pointer;
}

.menu-item {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
}
