aside {
   background-color: rgba(233, 233, 233, 0.707);
   border-radius: 8px;
   padding: 0px;
   margin-bottom: 0px;
   text-align: center;
   width: 19%;
   display: flex;
   flex-direction: column;
   box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.3);
   height: 600px;
   position: fixed;
   left: 10px;
   top: 70px;
}

a {
   cursor: pointer;
}

a:hover {
   background-color: rgba(153, 153, 153, 0.707);
}

#difSettings-users {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}
