.tasksModal {
   position: fixed;

   z-index: 1300;
   background-color: white;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-top: 10px;
   padding-bottom: 20px;
   border-radius: 5px;
   text-align: left;
   box-shadow: 0 0 8px 0px rgba(0, 0, 0);
   overflow-y: auto; /* Enable vertical scrolling when needed */
   max-height: calc(100vh - 20px); /* Adjust as needed */
}

@media (max-width: 680px) {
   .tasksModal {
      width: 80%;
   }
   #row-date-taskModal {
      flex-direction: column;
   }
}

.modalBackground {
   position: fixed;
   height: 100%;
   width: 100%;
   border-radius: 8px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #1b1b1bae;
   z-index: 1200;
}

.btns-div {
   display: flex;
   gap: 12px;
   justify-content: space-around;
   margin-left: 20px;
   width: 92.5%;
}

.modalTask-flexRow {
   display: flex;
   gap: 10px;
   align-items: center;
}

#description-col-modalTask {
   width: 100%;
}

#description {
   resize: none;
   height: 200px;
}

.row-date-taskModal {
   display: flex;
   gap: 5px;
   align-items: center;
}

.row-btns-modalTask {
   width: 100%;
}

#content-taskModal {
   display: flex;
   flex-direction: column;
   gap: 15px;
   margin-top: 20px;
}

#add-task {
   margin-bottom: 0px;
   font-weight: bold;
}

.date-label-taskModal {
   white-space: nowrap;
}

#cancel-task,
#save-task {
   background-color: white;
}

#save-task:hover,
#save-task:active {
   background-color: #0d6efd;
}

#cancel-task:hover,
#cancel-task:active {
   background-color: #6c757d;
}

.date-input-taskModal {
   cursor: pointer;
}

#content-taskModal input,
#content-taskModal textarea,
#content-taskModal select {
   border: 1px solid #a1a1a1;
}

#edit-icon {
   cursor: pointer;
   width: 16px;
   height: 16px;
   border: none;
}

#edit-btn {
   display: flex;
   background-color: transparent;
   border: none;
   width: 24px; /* Ou qualquer tamanho que se adeque ao seu design */
   height: 24px;
   position: absolute;
   right: 10px;
   transform: translate(0, -20px);
   align-items: center;
   justify-content: center;
   border: solid transparent 1px;
   margin-top: 10px;
   border-radius: 5px;
}

#edit-btn:hover {
   border: solid black 1px;
}

#cancel-edit-task {
   background-color: white;
}

#cancel-edit-task:hover,
#cancel-edit-task:active {
   background-color: #6c757d;
}

#save-edit-task {
   background-color: white;
}

#save-edit-task:hover,
#save-edit-task:active {
   background-color: #0d6efd;
}

#row-author-taskModal {
   align-items: center;
}
