.filter-section {
   flex-grow: 1;
   margin-right: 10px;
}

.btn-filters,
.homepage-filters {
   margin-left: 8px;
   border-radius: 5px;
   height: 25px;
   background-color: rgba(233, 233, 233, 0.707);
   border: black 1.5px solid;
   color: black;
}

.homepage-filters:hover,
.btn-filters:hover {
   box-shadow: 0px 0px 1px 1px black;
}

.btn-filters {
   cursor: pointer;
}

#user-filter {
   margin-left: 20px;
}

#filter-btn:hover,
#clean-filter-btn:hover {
   background-color: rgba(197, 197, 197, 0.707);
}
