* {
   font-family: "Muli", Georgia, "Times New Roman", Times, serif;
   margin: 0px;
   padding: 0px;
}
body {
   background-color: rgb(30, 40, 82);
}
main {
   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 88vh;
   margin-top: 50px;
}

.scrum-main {
   margin-left: 15%;
}

.wrapper {
   flex-grow: 1;
}
.container-fluid {
   padding: 0px;
}

.login-icon {
   width: 100px;
   height: auto;
}

.row {
   padding: 0;
}

.agileForm {
   display: flex;
   flex-direction: column;
   margin-top: 4vh;
   width: 400px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   margin-left: 50%;
   transform: translate(-50%);
}

.logo {
   width: 30px;
   height: auto;
}

#container-userProfile {
   display: flex;
   flex-direction: row;
   width: 600px;
   gap: 30px;
   margin-left: 50px;
}

#container-btns-userProfile {
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top: 50px;
}

.btn-outline-danger {
   background-color: white;
}

select {
   cursor: pointer;
}

.search-container-homepage {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
   margin-left: 6%;
   align-items: center;
   margin-bottom: 20px;
}

#taskSearchHomepage {
   height: 30px;
   border: 1px solid #a1a1a1;
   width: 50%;
}

#scrumPage-content {
   margin-left: 3%;
}

.notFoundDiv {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
}

.notFoundDiv div {
   background-color: white;
   padding: 50px;
   border-radius: 10px;
}
