#edit_container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;

   margin-left: 20%;
}

.editForm {
   width: 300px;
   margin-left: 20px;
}

.passForm {
   margin-bottom: 162px;
}
.banner_register {
   background-color: rgb(114, 114, 114);
   padding: 15px;
   text-align: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   width: 90%;
}

.content_editProfile {
   padding-top: 0px;
   padding-right: 5%;
   padding-bottom: 25px;
   padding-left: 5%;
}

#content_pass {
   padding-top: 11%;
}
input {
   padding: 4px;
}

.btnChangePassword {
   background-color: rgb(142, 142, 142);
   border: solid;
   cursor: pointer;
   padding: 4px;
   border-radius: 5px;

   margin-top: 10px;
}

#btnChangePassword:hover {
   background-color: rgb(114, 114, 114);
}

#member-registration-banner {
   font-weight: bold;
}

#username-field {
   color: black;
}

#registration {
   margin-top: 15px;
}

#editProfile-icon {
   cursor: pointer;
   width: 14px;
   height: 14px;
   border: none;
}

#editProfile-btn {
   background-color: transparent;
   border: none;
   width: 20px;
   height: 23px;
   cursor: pointer;
   margin-left: 94%;
   margin-top: 2%;
   padding: 4px;
   border-radius: 5px;
}

#editProfile-btn:hover {
   background-color: rgb(94, 94, 94);
}

input:disabled {
   color: rgb(19, 19, 19);
}

#inactivate-field {
   height: 28.4px;
   border-radius: 5px;
}
