#edit_container {
   display: flex;
   justify-content: center;
   gap: 10px;
}
#col-img {
   width: 50%;
}
.editForm {
   width: 500px;
}

@media (max-width: 590px) {
   #userStats-btns {
      transform: translate(0%, 0%);
      margin-left: 0;
      width: 250px;
   }
   #userStatistics-container {
      width: 250px;
   }
   #content-userStats {
      flex-direction: row;
   }
   #edit_container {
      justify-content: left;
   }
   #container-userProfile {
      justify-content: center;
      width: 100%;
   }

   #editPass-form {
      width: 80%;
      margin-left: 35%;
      margin-top: 0px;
   }
   #container-userProfile {
      flex-direction: column;
   }
}

#container-btns-userProfile {
   max-width: 220px;
}

@media (max-width: 640px) and (min-width: 590px) {
   #userStats-btns {
      width: 35%;
   }
   #userStatistics-container {
      width: 100%;
   }
}

@media (min-width: 590px) and (max-width: 1000px) {
   #editPass-form {
      width: 400px;
      margin-left: 170px;
   }
}
@media (min-width: 590px) and(max-width: 1420px) {
   #container-userProfile {
      width: 45%;
   }
   #edit_container {
      width: 80%;
   }
}

@media (max-width: 880px) {
   .row-editUser {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .agileCol {
      width: 100%;
   }

   .editForm {
      width: 250px;
   }
   #userLogo-editUser {
      margin-left: 0px;
   }
   #edit_container {
      justify-content: left;
   }
}
#editUserForm {
   transform: translate(0%, 0%);
   margin-left: 0;
}

.passForm {
   margin-bottom: 162px;
}
.banner_register {
   padding: 15px;
   text-align: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   width: 90%;
   gap: 30px;
}

.content_editProfile {
   padding-top: 20px;
   padding-right: 5%;
   padding-bottom: 25px;
   padding-left: 5%;
}

input {
   padding: 4px;
}

#btnChangePassword:hover {
   background-color: rgb(114, 114, 114);
}

#username-field {
   color: black;
}

#registration {
   margin-top: 15px;
}

#editProfile-icon {
   cursor: pointer;
   width: 23px;
   height: 23px;
   border: none;
   padding: 4px;
   padding-right: 3px;
   border-radius: 5px;
   border: solid transparent 1px;
}

#editProfile-btn {
   background-color: transparent;
   border: none;
   width: auto;

   cursor: pointer;
   margin-left: 85%;
   margin-top: 2%;

   border-radius: 5px;
}

#editProfile-icon:hover {
   border: solid black 1px;
}

input:disabled {
   color: rgb(19, 19, 19);
}

#inactivate-field {
   height: 37.6px;
   border-radius: 5px;
}

.input-editOwnprofile {
   border: 1px solid #a1a1a1;
}

#btn-submitUserProfile,
#btn-changePassword {
   background-color: white;
}

#btn-changePassword:hover,
#btn-changePassword:active {
   background-color: #6c757d;
}

#btn-submitUserProfile:hover,
#btn-submitUserProfile:active {
   background-color: #0d6efd;
}

#usersProfile-p {
   font-weight: bold;
   margin-bottom: 0;
}

#userLogo-editUser {
   margin-left: 100%;
   width: 130px;
   height: auto;
   border-radius: 50%;
   border: solid black 1px;

   transform: translate(-50%);
}

@media (min-width: 1000px) {
   #editPass-form {
      width: 700px;
      margin-left: 170px;
   }
}

#change-pass-banner {
   font-weight: bold;
   margin-bottom: 0px;
}

.btn-outline-primary {
   background-color: white;
}

.btn-outline-secondary {
   background-color: white;
}

.passEdit-field {
   border: 1px solid #a1a1a1;
}

.editPass-row {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
