#edit_container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
   margin-bottom: 58px;
}

.editForm {
   width: 300px;
   margin-left: 20px;
}

.passForm {
   margin-bottom: 162px;
}
.banner_register {
   background-color: rgb(114, 114, 114);
   padding: 15px;
   text-align: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   width: 90%;
}

.content_register {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 90%;
   background-color: rgb(142, 142, 142);
   padding-left: 5%;
   padding-right: 5%;
   padding-bottom: 25px;
   padding-top: 25px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}

input {
   padding: 4px;
}

.btnChangePassword {
   background-color: rgb(142, 142, 142);
   border: solid;
   cursor: pointer;
   padding: 4px;
   border-radius: 5px;

   margin-top: 10px;
}

#btnChangePassword:hover {
   background-color: rgb(114, 114, 114);
}

#member-registration-banner {
   font-weight: bold;
}

#username-field {
   color: black;
}

#registration {
   margin-top: 15px;
}
