@media (max-width: 550px) {
   #loginForm {
      width: 72%;
   }
}
#content_login {
   display: flex;
   flex-direction: column;
   gap: 15px;
   border-top: solid 1px rgb(0, 0, 0, 0.2);
   padding: 20px;
}

.login-label {
   margin-bottom: 5px;
}

#banner_login {
   display: flex;
   flex-direction: row;
   gap: 30px;
   padding: 15px;
   align-items: center;
}

#login-btn,
#a_registration {
   background-color: white;
}

#login-btn:hover {
   background-color: #0d6efd;
}

#login-btn:active {
   background-color: #0d6efd;
}

#a_registration:hover {
   background-color: #dc3545;
}

#a_registration:active {
   background-color: #dc3545;
}
#username,
#password {
   border: 1px solid #a1a1a1;
}

#a_forgot {
   text-align: right;
   color: #0d6efd;
}

#a_forgot:hover {
   color: #0b52bb;
}

#member-login-banner {
   font-weight: bold;
}
