#resetPass-div {
   width: 30%;
   margin-left: 50%;
   margin-top: 6%;
   transform: translate(-50%, 0);
   background-color: rgb(142, 142, 142);
   padding: 25px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px 0px black;
   padding-top: 20px;
}

#resetPass-form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

#resetPass-form button {
   background-color: transparent;
   border: solid;
   cursor: pointer;
   border-radius: 5px;
   padding: 4px;
}

#resetPass-form button:hover {
   background-color: rgb(114, 114, 114);
}

#resetPass-div input[type="email"] {
   border: none;
}
