#btn-resetPass {
   background-color: white;
}

#btn-resetPass:hover {
   background-color: #6c757d;
}
#btn-resetPass:active {
   background-color: #6c757d;
}

@media (max-width: 550px) {
   #resetPass-form {
      width: 72%;
   }
}

#email-resetPass {
   margin-bottom: 20px;
}

#email-lbl-resetPass {
   margin-bottom: 5px;
}
