#btn-resetPass {
   background-color: white;
}

#btn-resetPass:hover {
   background-color: #6c757d;
}
#btn-resetPass:active {
   background-color: #6c757d;
}

@media (max-width: 550px) {
   #resetPass-form {
      width: 72%;
   }
}

#email-resetPass {
   margin-bottom: 20px;
}

#email-lbl-resetPass {
   margin-bottom: 5px;
}

#resetPassAfter-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 100%;
}

.resetPassCol {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
}

#repeatPassword {
   border: 1px solid #a1a1a1;
}

#btn-submit-PassAfter {
   background-color: white;
}

#btn-submit-PassAfter:hover,
#btn-submit-PassAfter:active {
   background-color: #6c757d;
}
